/* Progress bars */
.progress-container {
    width: 300px;
    background-color: #ddd;
    height: 30px;
    margin: 10px 0;
    }

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #4caf50;
    transition:all;
}

/* Tab buttons */
.tab-button{
    background-color:rgb(128, 128, 247);
    font-size: 25px;
    font-family:monospace
}

/* Border for training tab */
#training {
    background-color:gray;
    padding: 20px;
    margin: 10px;
}

#growth {
    border:5px solid rgb(56, 56, 155);
    padding: 20px;
    margin: 10px;    

}

/* Combat Tab */
#combat {
    display:flex;
    margin-right: 1rem;
    padding: 10px;
}

#combat p {
  display: inline-block;
  margin: 0 0.5rem;
}


/* Chatbox */

#chatbox {
    background-color:aquamarine;
    text-align:right;
    padding: 5px;
    position: fixed;
    top: 75px;
    right: 10px;
    border: 2px solid rgb(137, 137, 214)
}

.hidden {
    display: none;
}